<p>

  <!-- last edit date -->
  Published on
  {{ with (default .Date (.PublishDate)) }}{{ partial "datetime" . }}{{ end }}
  {{ if lt (default .Date (.PublishDate)) .Lastmod }}
    (last modified on
    {{ with .Lastmod }}{{ partial "datetime" . }}{{ end }})
  {{ end }}

  <!-- author -->
  {{ if ne .Site.Params.hide_author true }}
    by <span itemprop="author">{{ $.Param "author" }}</span>
  {{ end }}

  <!-- wordcount -->
  using <span itemprop="wordCount">{{ .WordCount }}</span> words.
  
  <!-- tags + categories -->
  <br />
  <br />{{ partial "post/categories" . }}
  <br />{{ partial "post/tags" . }}

</p>
