<p class="meta">

  <!-- publishing time -->
  <svg class="icon"><use xlink:href="#calendar"/></svg>
  <span>
    {{ if lt (default .Date (.PublishDate)) .Lastmod }}
      {{ with .Lastmod }}{{ partial "datetime" . }}{{ end }}
    {{ else }}
      {{ with (default .Date (.PublishDate)) }}{{ partial "datetime" . }}{{ end }}
    {{ end }}
  </span>

  <!-- author -->
  <svg class="icon"><use xlink:href="#user"/></svg>
  <span>
    {{ $.Param "author" }}
  </span>

  <!-- reading time -->
  <svg class="icon"><use xlink:href="#timer"/></svg>
  <span>
    {{ .ReadingTime }} minute{{ if gt .ReadingTime 1 }}s{{ end }}
  </span>

</p>
