<p class="meta">

  <!-- publishing time -->
  <svg class="icon"><use xlink:href="#message"/></svg>
  <span>
    {{ if .PublishDate.IsZero }}
    <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}">{{ .Date.Format "2 Jan 2006" }}</time>
    {{ else if lt .PublishDate .Lastmod }}
    <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05-07:00" }}">{{ .Lastmod.Format "2 Jan 2006" }}</time> (modified)
    {{ else }}
      <time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05-07:00" }}">{{ .PublishDate.Format "2 Jan 2006" }}</time>
      {{ end }}
  </span>

  <!-- author -->
  <svg class="icon"><use xlink:href="#user"/></svg>
  <span>
    {{ $.Param "author" }}
  </span>

  <!-- reading time -->
  <svg class="icon"><use xlink:href="#timer"/></svg>
  <span>
    {{ .ReadingTime }} minute{{ if gt .ReadingTime 1 }}s{{ end }}
  </span>

</p>
